body {
    margin: 0;
}

div.body {
    margin: 16px;
}

body.button{
    padding-top: 20px;
    display: flex;
    width: 30%;
    margin: auto;
    margin-right: 10px;
}

td {
  width: 200px;
  text-align: center;

}
table {
  display: inline-block;
　width: 100%;
}

.title {
    flex-grow: 1;
}

.content {
    margin: 2em;
    margin-bottom: 52vh;
}

.content > * {
    margin-top: 1em;
    margin-bottom: 1em;
}

.share-button {
    cursor: pointer;
    margin: 4px;
    display: inline-block;
}

footer {
    margin-bottom: auto;
    background-color: #607D8B;
}
.seat {
    background: #fff;
    border: 1px solid #999;
    float: left;

    font-weight: bold;

  
    text-align: center;

  }
tr button.seat {
    width: 108px;
    height: 46px;
}
body {
    text-align: center;
    white-space: pre-line 
}