# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
js/node_modules
js/.pnp
js/.pnp.js

# testing
js/coverage

# production
js/build

# misc
js/.DS_Store
js/.env.local
js/.env.development.local
js/.env.test.local
js/.env.production.local

js/npm-debug.log*
js/yarn-debug.log*
js/yarn-error.log*
